<div fxLayout="column">
  <!-- Top Header Section -->
  <div fxHide.lt-sm="true" fxLayout="row" fxLayoutAlign="start center" class="header">
    <div fxFlex fxLayoutAlign="start center" style="margin:10px 0 10px 0;">
      <div class="logo_wrapper" (click)="onHome()" style="cursor: pointer;">
        <img src="{{this.config.company_logo}}" style="height:40px;" />
      </div>
      <div class="header-animated" matTooltip="Home">{{tagline}}</div>
    </div>
    <div style="width:50px;" fxLayoutAlign="end center">
      <div mat-button fxHide.lt-sm="true" class="menu_button" matTooltip="Menu" [matMenuTriggerFor]="action_menu">
        <img src="./assets/img/account_circle.png" style="height:32px;margin-right: 0px;" />
      </div>
    </div>
  </div>

  <!-- Sub Header Section -->
  <div fxLayout="row" fxLayoutAlign="start stretch" class="subheader">
    <div [matMenuTriggerFor]="app_menu" class="submenu {{isMinimized ? 'submenu-min' : ''}}" ngClass.xs="submenu-min">
      <div *ngIf="this.selectedApp !== undefined" fxLayout="row" fxLayoutAlign="start center">
        <img src="{{this.selectedApp.white_logo}}" style="height:28px;margin-right: 15px;" />
        {{this.selectedApp.name}}
      </div>
    </div>
    <div style="padding-left: 10px;" fxFlex fxLayoutAlign="stretch center">{{this.pageHeader}}</div>
    <div fxLayoutAlign="end center" style="margin-right: 10px;" mat-button fxHide.gt-xs="true" [matMenuTriggerFor]="action_menu">
      <img src="./assets/img/account_circle_white.png" style="height:32px;margin-right: 0px;" />
    </div>
    <div fxLayoutAlign="end center" mat-button fxHide.gt-xs="true" (click)="onFloatNavMenu('Menu')">
      <mat-icon style="color:white;">menu</mat-icon>
    </div>
  </div>

  <!-- App Menu -->
  <mat-menu #app_menu="matMenu" yPosition="below" [overlapTrigger]="false">
    <button mat-menu-item fxLayout="row" fxLayoutAlign="start center" *ngFor="let app of this.config.apps" (click)="onAppSelect(app)" matTooltip="{{app.description}}">
      <img src="{{app.color_logo}}" style="height:30px;margin-right: 10px;" />
      {{app.name}}
    </button>
  </mat-menu>

  <!-- Action Menu -->
  <mat-menu #action_menu="matMenu" fxLayoutAlign="start center" [overlapTrigger]="false">
    <div fxFlexFill fxLayoutAlign="start center" fxLayout="row" class="actionHeader">
      <mat-icon style="color:gray;margin-right: 15px">account_circle</mat-icon>
      <div>{{this.config.user.name}}</div>
    </div>
    <div fxFlexFill *ngFor="let action of this.config.user.actions" fxLayoutAlign="start center" fxLayout="row" mat-menu-item class="menu-item" (click)="onActionSelect(action)">
      <div>{{action.name}}</div>
    </div>
  </mat-menu>
</div>
